/* Styles Scrollbar */

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: #513500;
  border-radius: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: #e5ce8357;
}

/* Navbar */
header {
  width: 100%;
  height: 10vh;
  background-color: #513500;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
  width: 100%;
  padding: 1rem;
}

.logo {
  height: 40px;
  width: 150px;
}

nav ul {
  display: flex;
  gap: 15rem;
}

nav ul li {
  list-style: none;
  font-weight: 700;
}

nav ul li a {
  text-decoration: none;
  color: #ffff;
}

nav ul li a:hover {
  border-bottom: 2px solid #CB9C53;
}

/* First Banner */

.firstBanner-container {
  position: relative;
  height: 90vh;
  background-image: url('./assets/banner01.jpg');
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5rem;
}

.firstBanner-container h1 {
  color: #ffff;

  letter-spacing: 2px;
  /* text-align: center; */
}

.firstBanner-container button {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding: 1rem 1.5rem;
  letter-spacing: 2px;

  background-color: #523c15;

  border-radius: 8px;
  border: none;
}

.firstBanner-container button a{
  color: #ffff;
  text-decoration: none;
}

.firstBanner-container button:hover {
  background-color: #513500;
}

/* Quem somos */

main {
  margin: 1.5rem;
}

#quemSomos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

main h2 {
  color: #75551E;
  text-align: center;
  margin-bottom: 1.5rem;
}

main .aboutUs-container {
  width: 50%;
  padding: 1.5rem 2.5rem;
  font-size: 0.9rem;

  color: #ffff;
  background-color: #87652D;
  border-radius: 0.4rem;
}

main .aboutUs-container p {
  margin-bottom: 1rem;
}

main .aboutUs-container p span {
  font-weight: 700;
}

/* Produtos */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.products-container {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.titles-container {
  display: flex;
  margin-bottom: 1rem;
  color: #75551E;
}

.products-container article {
  height: 15rem;
  width: 15rem;
  padding: 20px;
  text-align: center;
}

.products-container article figure img {
  width: 100%;
  height: 150px;
  border: 4px solid #75551E;
  border-radius: 100%;
}

.products-container figcaption {
  font-weight: 700;
  margin: 5px 0;
  font-size: 1rem;
  color: #99753C;
}

.products-container h5 {
  color: #99753C;
  font-size: 0.8rem;
}

/* Tabela de horários */

aside {
  display: flex;
  flex-direction: column;
}

/* tabela css */
table,
td {
  border-collapse: separate;
  text-align: center;
}

td {
  padding: 3px;
  width: 30px;
  height: 25px;
}

table .header-top td, .header-left, .infos-table {
  background: #87652D;
  border-radius: 3px;
}

table .header-left {
  background: #99753C;
}

table .infos-table {
  background: #CB9C53;
}

.even {
  background: #fbf8f0;
}

.odd {
  background: #fefcf9;
}

/* Formulario */

.form-container .secondBanner-container {
  width: 100%;
  height: 400px;
  position: relative;
  background-image: url('./assets/banner02.png');
  background-size: cover;
}

.form-container .secondBanner-container h1 {
  position: relative;
  top: 20%;
  color: #513500;
  text-align: center;
}


.form-container .secondBanner-container form {
  margin-top: 10rem;
  margin-left: 40%;
}

.form-container .secondBanner-container input {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  padding: 8px 43px;
  border: none;
  border-radius: 0.2rem;
}

.form-container .secondBanner-container input::placeholder {
  text-align: center;
}

.form-container .secondBanner-container button {
  text-align: center;

  padding: 0.7rem 2rem;
  font-weight: 700;
  letter-spacing: 1px;

  color: #ffff;
  background-color: #523c15;

  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-left: 7%;
}

.form-container .secondBanner-container button:hover {
  background-color: #513500;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #513500;

  padding: 20px 24px;
  color: #ffff;
  font-size: 0.8rem;
}

footer .infos-company h5 {
  margin-bottom: 5px;
  font-weight: 400;
}

footer .infos-company a {
  font-weight: 600;
  text-decoration: none;
  color: #ffff;
}

footer .infos-company a:hover {
  text-decoration: underline;
}

footer .infos-company,
footer .other-infos {
  display: inline-block;
}

footer .other-infos h5 {
  display: inline-block;
  margin-left: 15rem;
  font-size: 0.9rem;
  cursor: pointer;
}

footer .other-infos h5:hover {
  text-decoration: underline;
}